<header class="py-2">
  <nav>
    <h1>Yet Another Todo</h1>
    <div class="actions">
      <!-- New Todo Overlay Box -->
      <p-overlayPanel #op>
        <app-newtodo
          (onComplete)="op.hide()"
          (onComplete)="refresh()"
          (onSave)="showSavedMessage($event)"
        ></app-newtodo>
      </p-overlayPanel>
      <!-- New Todo Button -->
      <p-button
        class="mr-2"
        label="New"
        icon="pi pi-plus"
        size="small"
        (click)="op.show($event)"
      ></p-button>
      <!-- Search Todo Filter -->
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          class="p-inputtext-sm"
          type="text"
          placeholder="Search..."
          pInputText
          [(ngModel)]="searchValue"
        />
      </span>
    </div>
  </nav>
</header>

<p-toast position="bottom-right"></p-toast>
<!-- Body -->
<!-- Todolist -->
<div *ngFor="let item of filteredTodos">
  <app-viewtodo
    [todo]="item"
    (onDelete)="refresh()"
    (onDelete)="showDeletedMessage($event)"
  ></app-viewtodo>
</div>

<router-outlet> </router-outlet>
